body{
    background-color:lightgray;
}

.animation-container { 
    margin: auto;
    position:fixed;
    width:300px;
    height:400px;
    right:-300px;
    top:0px;
    background-color:green;
}

.animation-container.enter {
    -webkit-animation: enterTranslate 1s; /* Safari & Chrome */
    -webkit-animation-iteration-count: 1; 
    -webkit-animation-fill-mode:forwards;
}
.animation-container.exit {
    -webkit-animation: exitTranslate 1s; /* Safari & Chrome */
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode:forwards; 
}

.animation-container.shiftUp {
    -webkit-animation: shiftUp 1s; /* Safari & Chrome */
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode:forwards;
}

@-webkit-keyframes inout { /* Safari & Chrome */
0%   { -webkit-transform: scale(0, 0); } 
25%  { -webkit-transform: scale(2, 2); }
50%  { -webkit-transform: scale(0, 0); }
100% { -webkit-transform: scale(1, 1); } 
} 

@-webkit-keyframes enterTranslate { 
0%   { -webkit-transform:  translate(0px, 0px) ;   } 
100%   { -webkit-transform:  translate(-300px, 0px);   }
} 

@-webkit-keyframes exitTranslate { 
0%   { -webkit-transform:  translate(-300px, 0px) ;   } 
100%   { -webkit-transform:  translate(0px, 0px);   }
} 

@-webkit-keyframes shiftUp{ 
0%   { -webkit-transform:  translate(-300px, 0px) ;   } 
100%   { -webkit-transform:  translate(-300px, -400px);   }
} 

#banner{
    width:100%;
    height:50px;
    background-color:black;
    color:white;
    display:inline-block;
    text-align:center;
    font-size:30px;
    position:absolute;
    top:0px;
    left:0px;
}

#bannerBuffer{
    height:50px;
}


#underTitle{
    width:100%;
    text-align:center;
}

#story{
    width:600px;
    display:inline-block;
    text-align:left;
    position:relative;
    left:-300px;
    z-index:2;
    background-color:white;
    padding:10px;
}

.person{

}

.name{
    font-size:30px;
}

.description{
    font-size:18px;
}

.containerImage{
    width:300px;
    height:300px;
}