


#banner{
    width:100%;
    height:50px;
    background-color:black;
    color:white;
    display:inline-block;
    text-align:center;
    font-size:30px;
    position:fixed;
    top:0px;
    left:0px;
    z-index:5;
}

#bannerBuffer{
    height:50px;
}

#underTitle{
    width:100%;
    text-align:center;
}

.helpImage{
    position:fixed;
    top:50px;
    left:820px;
    z-index:-5;
    opacity:0;
    height:1055px;
    width:1100px;
    background-color:green;
    /*display:table-cell;*/
    /*text-align:center;*/
    /*vertical-align:middle;*/
}
.helpImage.enter {
    -webkit-animation: fadein 2s; 
    -webkit-animation-iteration-count: 1; 
    -webkit-animation-fill-mode:forwards;
}
.helpImage.exit {
    -webkit-animation: fadeout 2s; 
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode:forwards; 
}

.actualImage{
    max-width:100%;
    max-height:100%;
    /*display:inline-block;*/
    /*vertical-align:middle;*/
}

@-webkit-keyframes enterTranslate { 
0%   { -webkit-transform:  translate(-1920px, 0px) ;   } 
100%   { -webkit-transform:  translate(0px, 0px);   }
} 
@-webkit-keyframes exitTranslate { 
0%   { -webkit-transform:  translate(0px, 0px) ;   } 
100%   { -webkit-transform:  translate(-1920px, 0px);   }
} 


#whiteBox{
    height:0px;
    position:fixed;
    top:475px;
    left:360px;
    width:500px;
    z-index:2;
    color:white;
    background-color:white;
    border-radius:10px;
    border:2px solid white;
    opacity:.8;
    display:none;
}

#poem {
    width:400px;
    display:inline-block;
    text-align:center;
    position:absolute;
    top:0px;
    left:400px;
    z-index:3;
    /*background:green;*/
    padding:10px;
    color:lightgray;
    /*border-left:1px solid gray;*/
    /*border-right:1px solid gray;*/
}

#poemBackground {
    width:400px;
    display:inline-block;
    text-align:center;
    position:fixed;
    top:0px;
    left:400px;
    width:400px;
    height:3000px;
    z-index:1;
    background:beige;
    padding:10px;
    color:lightgray;
    border-left:1px solid gray;
    border-right:1px solid gray;
}

#spaceBeforePoemTitle{
    height:200px;
}

#poemTitle {
    font-size:80px;
    text-align:center;
    position:relative;
    color:black;
}



#titleAn{
    font-size:40px;
    position:relative;
    left:-67px;
}
#titleEssay{
    /*position:relative;
    right:-5px;*/
}
#titleOn{
    font-size:40px;
    position:relative;
    right:-67px;
}
#titleWoman{
    font-size:60px;
    /*position:relative;
    right:-25px;*/
}

#author{ 
    color:black;
}

#spaceUnderPoemTitle{
    height:300px;
}


.stanza {
    /*border-top:2px solid blue;
    border-bottom:2px solid green;*/
}
.stanza.black {
    -webkit-animation: fadeBlack .5s; 
    -webkit-animation-iteration-count: 1; 
    -webkit-animation-fill-mode:forwards;
}
.stanza.lightgray {
    -webkit-animation: fadeGray .5s; 
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode:forwards; 
}

@keyframes fadeBlack {
0% { color:lightgray; }
100% { color:black; }
}
@keyframes fadeGray {
0% { color:black; }
100% { color:lightgray; }
}

.line {
    height:80px;
}

#spaceUnderPoem{
    height:1000px;
}

.containsNote{
    text-decoration:underline;
}

.note{
    position:absolute;
    right:-115px;
    width:100px;
    z-index:1;
    background:beige;
    opacity:0;
    border-radius:5px;
    padding:3px;
    border:1px solid black;
}
.note.enter {
    -webkit-animation: fadein .5s; 
    -webkit-animation-iteration-count: 1; 
    -webkit-animation-fill-mode:forwards;
}
.note.exit {
    -webkit-animation: fadeout .5s; 
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode:forwards; 
}

@keyframes fadein {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fadeout {
0% { opacity: 1; }
100% { opacity: 0; }
}
@-webkit-keyframes enterNote { 
0%   { -webkit-transform:  translate(0px, 0px) ;   } 
100%   { -webkit-transform:  translate(100px, 0px);   }
} 
@-webkit-keyframes exitNote { 
0%   { -webkit-transform:  translate(100px, 0px) ;   } 
100%   { -webkit-transform:  translate(0px, 0px);   }
} 